<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p id="project-id"> {{id}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  {{!-- <p>
    <button class="btn btn-primary">Comment</button>
  </p> --}}
  {{!-- the > sign means we're calling a partial --}}
  {{>comment comments}}
</div>


  {{#each comments as |comment| }}
  <div style="display: block">
    <p>{{comment.description}}
      {{format_date comment.date_created}}
    </p>

    </div>
  {{/each}}
